%section#service_check_jobs
  .page-header
    %h1 Service Status
  %table
    %thead
      %th Host
      %th Service
      %th Status
      %th Result
      %th Time
    %tbody
      = render @service_check_jobs
