/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

/*
 *= require twitter/bootstrap
*/

body.motherhen {
/*  padding-top: 40px; not needed unless we're using the nav*/
}

header.overview {
  background: url(/images/bit-tile-blue.png) top center;
  margin-bottom: 10px;
}

header h1 {
  font-size: 76px;
  padding-top: 80px;
  padding-bottom: 10px;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0,0,0,.5);
}